.custom-button {
  width: auto;
  height: 3.125rem;
  padding: 0.35em 1.2em;
  border: none;
  margin: 10px 0.3em 0.3em 10px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.custom-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid black;
}

@media all and (max-width: 30em) {
   .custom-button {
    display: block;
    margin: 0.4em auto;
  }
}

@media all and (max-width: 541px) {
  .custom-button > span {
    font-size: 10px;
  }
}
